.order {
    background-color: rgb(0, 0, 0, .5);
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 80px;
}
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 7px;
}
.order_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}