.header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;

    background: linear-gradient(to right, rgb(255, 68, 115), rgb(255, 204, 19));
}
.container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    margin:auto;
}
.logo {
    font-size: 30px;
    font-weight: 700;

    color: white;
}
.logo a {
    color: white;
    transition: .2s;
}
.logo a:hover {
    color: black;
}
.cart {
    display: flex;
    gap: 10px;
}
.cart a {
    color: rgb(43, 37, 31);
    text-decoration: none;
    border-radius: 5px;
    padding:  5px 10px;
    background-color: white;
}
@media only screen and (max-width: 400px) {
    .logo {
        font-size: 24px;
    }
    .cart {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}